<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center about">Create Your Profile</h1>

    <h3 class="text-center about">Be a part of the MusicianLink community and fill out your profile!</h3>

    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>
