<h1 class="about text-center">About Us</h1>
<h4 class="about text-center">Welcome to MusicLink! We are a community of musicians, songwriters, and producers who are interested in meeting one another and making good music.</h4>
<section id="portfolio" class="no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6"><a href="#" class="portfolio-box"><img
      src="../images/portfolio/guitarists.jpg" alt="" class="img-responsive">

        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">Connect with guitarists</div>
            <div class="project-name">Guitar</div>
          </div>
        </div>
      </a></div>
      <div class="col-lg-4 col-sm-6"><a href="#" class="portfolio-box"><img
      src="../images/portfolio/vocalists.jpg" alt="" class="img-responsive">

        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">Connect with singers</div>
            <div class="project-name">Vocals</div>
          </div>
        </div>
      </a></div>
      <div class="col-lg-4 col-sm-6"><a href="#" class="portfolio-box"><img
      src="../images/portfolio/drummers.jpg" alt="" class="img-responsive">

        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">Connect with drummers</div>
            <div class="project-name">Drums</div>
          </div>
        </div>
      </a></div>
      <div class="col-lg-4 col-sm-6"><a href="#" class="portfolio-box"><img
      src="../images/portfolio/bassists.jpg" alt="" class="img-responsive">

        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">Connect with bassists</div>
            <div class="project-name">Bass</div>
          </div>
        </div>
      </a></div>
      <div class="col-lg-4 col-sm-6"><a href="#" class="portfolio-box"><img
      src="../images/portfolio/keyboards.jpg" alt="" class="img-responsive">

        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">Connect with keyboardists</div>
            <div class="project-name">Keys</div>
          </div>
        </div>
      </a></div>
      <div class="col-lg-4 col-sm-6"><a href="#" class="portfolio-box"><img src="../images/portfolio/horns.jpg"
                                                                            alt="" class="img-responsive">

        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">Connect with horn players</div>
            <div class="project-name">Horns</div>
          </div>
        </div>
      </a></div>
    </div>
  </div>
</section>
